body {
  background-color: lightblue;
  max-width: 80%;
}

.imgContainer {
  display: grid;
  width: 70%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  
}
